# Python 캐시 파일 및 디렉터리 무시
__pycache__/

# 환경 설정 파일 무시
.env

# SQLite 데이터베이스 파일 무시
db.sqlite3

# Django static 파일 무시 (필요시)
static/

# IDE 환경 파일 무시 (예: VS Code)
.vscode/

# 로그 파일 무시
*.log

# 기타 시스템 파일 무시
.DS_Store

*texttospeech*.json